$primary-color: #009688;
$primary-light: #52c7b8;
$primary-dark: #00675b;
$secondary-color: #ff5252;
$secondary-light: #ff867f;
$secondary-dark: #c50e29;
$heading-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$heading-dark: rgba(0,0,0, 0.95);
$heading-light: rgba(255, 255, 255, 0.95);
$body-dark: rgba(0,0,0,0.77);
$body-light: rgba(255,255,255,0.84);
$border-rad: 5px;
